@model List<IntegrationHub.Web.Models.Endpoints.EndpointDto>

@{
    ViewData["Title"] = "Endpoints";
}

<h2>Endpoints</h2>

@if (TempData["ErrorMessage"] is string errorMessage)
{
    <div class="alert alert-danger">@errorMessage</div>
}

@if (Model == null || !Model.Any())
{
    <p>No Endpoints Found!!</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>BaseUrl</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
        </thead>
        @foreach (var endpoint in Model)
        {
            <tr>
                <td>@endpoint.Id</td>
                <td>@endpoint.Name</td>
                <td>@endpoint.BaseUrl</td>
                <td>@endpoint.IsActive</td>
                <td>
                    <a asp-controller="Endpoints"
                       asp-action="Details"
                       asp-route-id="@endpoint.Id">
                        Details
                    </a>
                    <form asp-controller="Endpoints"
                          asp-action="Delete"
                          asp-route-id="@endpoint.Id"
                          method="post"
                          style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-link p-0">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
<p>
    <a class="btn btn-primary" asp-controller="Endpoints" asp-action="Create">Create</a>
</p>

